<script setup lang="ts">
import GameHalf from '~/components/game/Half.vue';
import GameHUD from '~/components/game/HUD.vue';
import SongPlayer from '~/components/SongPlayer.vue';
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';
import { Song } from '~/logic/song/song';
import { millisecondInSongToBeat } from '~/logic/utils/bpm.utils';
import { PitchProcessor } from '~/logic/voice/pitch-processor';
import { PitchProcessorFactory } from '~/logic/voice/pitch-processor-factory';
import { useRoundStore } from '~/stores/round';
import { useSettingsStore } from '~/stores/settings';

const router = useRouter();
const roundStore = useRoundStore();
const settingsStore = useSettingsStore();

const pitchFactory = new PitchProcessorFactory();
const pitchProcessors = ref<PitchProcessor[]>([]);

const currentSong = computed(
  (): Song | undefined => roundStore.song as Song | undefined,
);

const initialized = ref(false);
const playing = ref(false);
const songPlayerEl = ref<InstanceType<typeof SongPlayer>>();
const halfEls = useTemplateRefsList<InstanceType<typeof GameHalf>>();
const hudEl = ref<InstanceType<typeof GameHUD>>();

const gameLoop = () => {
  if (!playing.value || !songPlayerEl.value || !currentSong.value) return;

  const currentTime = songPlayerEl.value.getAudioTime();
  const duration = songPlayerEl.value.getAudioDuration();

  const currentBeat = millisecondInSongToBeat(
    currentSong.value,
    currentTime * 1000,
  );

  halfEls.value.forEach((halfEl) => {
    halfEl.update(currentBeat);
  });

  hudEl.value?.update(currentTime, duration);
};

// computed to get pitchProcessor by index
const pitchProcessor = computed(
  () =>
    (index: number): PitchProcessor | undefined =>
      pitchProcessors.value[index] as PitchProcessor | undefined,
);

const createPitchProcessors = async () => {
  await pitchFactory.init();

  for (let i = 0; i < settingsStore.microphones.length; i++) {
    pitchProcessors.value?.push(
      await pitchFactory.createPitchProcessor(
        settingsStore.microphones[i],
        roundStore.song as Song,
      ),
    );
  }
};

const init = async () => {
  if (initialized.value) return;
  roundStore.initRound({ playerCount: settingsStore.microphones.length });
  initialized.value = true;
  await createPitchProcessors();
};

const { pause, resume } = useRafFn(
  () => {
    gameLoop();
  },
  { immediate: false },
);

const onCanPlay = async () => {
  if (playing.value) return;
  await init();
  playing.value = true;
};

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'confirm') {
    if (playing.value) {
      playing.value = false;
    } else {
      playing.value = true;
    }
  } else if (event.action === 'back') {
    onEnded();
  }
};

const onEnded = () => {
  router.push('/sing/results');
};

onMounted(() => {
  resume();
});

onUnmounted(() => {
  pause();
  pitchFactory.stopStreams();
});
</script>
<template>
  <div class="w-screen h-screen">
    <SongPlayer
      ref="songPlayerEl"
      class="w-full h-full"
      :song="currentSong"
      :playing="playing"
      :volume="settingsStore.getGameVolume"
      @canPlaySong="onCanPlay"
      @ended="onEnded"
    ></SongPlayer>
    <div class="w-full h-full absolute inset-0">
      <GameHalf
        v-if="currentSong"
        :ref="halfEls.set"
        :song="currentSong"
        :microphone="settingsStore.microphones[0]"
        position="top"
        :voice-index="0"
        :pitch-processor="pitchProcessor(0)"
        @add-score="(points: number) => roundStore.addScore(0, points)"
      ></GameHalf>
      <GameHalf
        v-if="currentSong && settingsStore.microphones.length > 1"
        :ref="halfEls.set"
        :song="currentSong"
        :microphone="settingsStore.microphones[1]"
        position="bottom"
        :voice-index="0"
        :pitch-processor="pitchProcessor(1)"
        @add-score="(points: number) => roundStore.addScore(1, points)"
      ></GameHalf>
    </div>
    <div class="w-full h-full absolute inset-0">
      <GameHUD
        ref="hudEl"
        :scores="roundStore.scores"
        :microphones="settingsStore.microphones"
      ></GameHUD>
    </div>
  </div>
</template>
