<script setup lang="ts">
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';
import { useRoundStore } from '~/stores/round';
import { useSettingsStore } from '~/stores/settings';

const router = useRouter();
const roundStore = useRoundStore();
const settingsStore = useSettingsStore();

const locale = navigator?.language || 'en-US';

const winText = computed(() => {
  if (!roundStore.scores || roundStore.scores?.size < 2) {
    return 'Good game!';
  }

  if (roundStore.scores.get(0) === roundStore.scores.get(1)) {
    return "It's a draw!";
  }

  const score0 = roundStore.scores.get(0);
  const score1 = roundStore.scores.get(1);

  if (score0 !== undefined && score1 !== undefined) {
    const winner = score0 > score1 ? 1 : 2;
    return `Player ${winner} wins!`;
  }
  return 'Good game!';
});

const player1Percentage = ref(0);
const player2Percentage = ref(0);
const player1Duration = ref(0);
const player2Duration = ref(0);

const showWinText = ref(false);

onMounted(() => {
  setTimeout(setScores, 1000);
});

const score = computed(() => {
  return (index: number) => {
    const score = roundStore.scores?.get(index)?.toLocaleString(locale) ?? 0;
    return score;
  };
});

const color = computed(() => {
  return (index: number) => {
    const color = settingsStore.microphones[index]?.color || '#fff';
    return color;
  };
});

const setScores = () => {
  if (
    !roundStore.song ||
    !roundStore.scores ||
    roundStore.song.voices.length === 0
  ) {
    return;
  }

  const maxScore = roundStore.song.voices[0].getMaxScore();

  const score0 = roundStore.scores.get(0);
  const score1 = roundStore.scores.get(1);

  if (score0 !== undefined) {
    player1Percentage.value = Math.round((score0 / maxScore) * 100);
    player1Duration.value = player1Percentage.value * 50;
  }
  if (score1 !== undefined) {
    player2Percentage.value = Math.round((score1 / maxScore) * 100);
    player2Duration.value = player2Percentage.value * 50;
  }

  // get higher duration
  const duration = Math.max(player1Duration.value, player2Duration.value);

  setTimeout(() => {
    showWinText.value = true;
  }, duration);
};

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'confirm') {
    goToSongs();
  }
};

const goToSongs = () => {
  router.push('/songs');
};

useHead({
  title: 'Tune Perfect - Settings',
});
</script>

<template>
  <Layout class="bg">
    <template #header>
      <MenuTitleBar
        title="Results"
        :back-arrow="false"
        @back="() => router.back()"
      ></MenuTitleBar>
    </template>
    <div
      class="flex flex-col flex-grow justify-center w-full items-center px-5vw"
    >
      <div class="h-17vh w-full px-20vh">
        <div
          class="w-full h-full outline outline-3 rounded-lg bg-black/20 relative"
        >
          <div
            class="w-full h-full player-1-bar rounded-lg flex justify-end items-center absolute inset-0"
          >
            <span class="font-semibold text-3vw mr-1/40">{{ score(0) }}</span>
          </div>
          <div
            class="w-full h-full rounded-lg flex justify-end items-center absolute inset-0"
          >
            <span class="font-semibold text-3vw mr-1/40">{{ score(0) }}</span>
          </div>
        </div>
      </div>
      <div
        class="font-bold text-3.0vw leading-tight pt-2vh pb-3vh transition-opacity duration-200"
        :class="{ 'opacity-0': !showWinText }"
      >
        {{ winText }}
      </div>
      <div
        class="h-17vh w-full px-20vh"
        :class="{
          'opacity-0': roundStore.scores && roundStore.scores.size < 2,
        }"
      >
        <div
          class="w-full h-full outline outline-3 rounded-lg bg-black/20 relative"
        >
          <div
            class="w-full h-full player-2-bar rounded-lg flex justify-end items-center absolute inset-0"
          >
            <span class="font-semibold text-3vw mr-1/40">{{ score(1) }}</span>
          </div>
          <div
            class="w-full h-full rounded-lg flex justify-end items-center absolute inset-0"
          >
            <span class="font-semibold text-3vw mr-1/40">{{ score(1) }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-end px-5vw">
      <div
        class="text-1vw font-semibold outline outline-2 rounded-lg px-1vw py-0.5vw gradient-button cursor-pointer"
        @click="goToSongs"
      >
        Continue
      </div>
    </div>

    <template #footer>
      <MenuKeyHints
        :hints="['confirm']"
        @back="() => router.back()"
      ></MenuKeyHints>
    </template>
  </Layout>
</template>

<style scoped>
.bg {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

.gradient-title {
  background-image: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);
}

.gradient-button {
  background-image: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);
}

.player-1-bar {
  clip-path: polygon(
    0 0,
    v-bind('player1Percentage + "%"') 0,
    v-bind('player1Percentage + "%"') 100%,
    0% 100%
  );
  background-image: linear-gradient(
    180deg,
    v-bind('color(0)') 0%,
    v-bind('color(0) + "55"') 100%
  );

  transition: clip-path v-bind('player1Duration + "ms"');
  animation-timing-function: cubic-bezier(0, 0.14, 0.05, 0.96);
}

.player-2-bar {
  clip-path: polygon(
    0 0,
    v-bind('player2Percentage + "%"') 0,
    v-bind('player2Percentage + "%"') 100%,
    0% 100%
  );
  background-image: linear-gradient(
    180deg,
    v-bind('color(1)') 0%,
    v-bind('color(1)+ "55"') 100%
  );

  transition: clip-path v-bind('player2Duration + "ms"');
  animation-timing-function: cubic-bezier(0, 0.14, 0.05, 0.96);
}
</style>
