<script setup lang="ts">
import { keyMode } from '~/logic/ui/keys';

const props = defineProps<{
  modelValue: string;
}>();

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
  (e: 'focusin'): void;
  (e: 'focusout'): void;
}>();

const data = useVModel(props, 'modelValue', emit);
const inputEl = ref<HTMLInputElement>();

const isFocused = ref(false);

const showPlaceholder = computed(() => {
  return !isFocused.value && data.value === '';
});

const onFocusIn = () => {
  isFocused.value = true;
  emit('focusin');
};

const onFocusOut = () => {
  isFocused.value = false;
  emit('focusout');
};

const focus = () => {
  if (inputEl.value) {
    inputEl.value.focus();
  }
};
const blur = () => {
  if (inputEl.value) {
    inputEl.value.blur();
  }
};
defineExpose({ focus, blur });
</script>
<template>
  <div
    class="rounded-full border-black border-3 px-0.6vw py-0.2vw flex items-center text-black"
  >
    <Icon icon="Search" class="text-1vw mr-0.3vw"></Icon>
    <div class="relative flex items-center flex-grow">
      <input
        ref="inputEl"
        v-model="data"
        class="focus:outline-none outline-none bg-white/0 w-full min-w-0 text-0.9vw leading-tight flex-grow"
        name="search"
        @focusin="onFocusIn"
        @focusout="onFocusOut"
      />
      <div
        class="absolute inset-0 flex items-center pointer-events-none justify-between"
        :class="{ 'opacity-0': !showPlaceholder }"
      >
        <div class="text-0.9vw">Search</div>
        <Icon
          :icon="keyMode === 'keyboard' ? 'KeyF3' : 'XboxMenu'"
          class="text-1vw ml-0.3vw"
        ></Icon>
      </div>
    </div>
  </div>
</template>
