<script setup lang="ts">
import * as icons from '~/logic/ui/icons';
import { keyMode } from '~/logic/ui/keys';

const emit = defineEmits<{
  (e: 'back'): void;
}>();

type hintType = 'navigate' | 'confirm' | 'back' | 'random';
const props = defineProps<{ hints: hintType[] }>();

const hints = computed(() => {
  const hints: { icon: keyof typeof icons; text: string; size: string }[] =
    props.hints.map((hint) => {
      if (hint === 'navigate') {
        return {
          icon: keyMode.value === 'keyboard' ? 'KeyArrows' : 'XboxCross',
          text: 'Navigate',
          size: keyMode.value === 'keyboard' ? 'text-1.2vw' : 'text-1.5vw',
        };
      } else if (hint === 'confirm') {
        return {
          icon: keyMode.value === 'keyboard' ? 'KeyEnter' : 'XboxA',
          text: 'Confirm',
          size: 'text-1.5vw',
        };
      } else if (hint === 'back') {
        return {
          icon: keyMode.value === 'keyboard' ? 'KeyEscape' : 'XboxB',
          text: 'Back',
          size: 'text-1.5vw',
        };
      } else if (hint === 'random') {
        return {
          icon: keyMode.value === 'keyboard' ? 'KeyF4' : 'XboxY',
          text: 'Random',
          size: keyMode.value === 'keyboard' ? 'text-1.1vw' : 'text-1.5vw',
        };
      }
      return {
        icon: 'KeyArrows',
        text: 'Navigate',
        size: '1.5vw',
      };
    });
  return hints;
});
</script>
<template>
  <div class="flex flex-row gap-6 text-neutral-400">
    <div
      v-for="hint in hints"
      :key="hint?.text"
      class="flex flex-row items-center text-1.2vw"
      :class="{ 'cursor-pointer': hint.text === 'Back' }"
      @click="
        () => {
          if (hint.text === 'Back') {
            emit('back');
          }
        }
      "
    >
      <Icon
        v-if="hint?.icon"
        class="mr-0.5vw"
        :class="[hint?.size]"
        style="width: unset"
        :icon="hint.icon"
      />
      {{ hint?.text }}
    </div>
  </div>
</template>
