<script setup lang="ts">
import { loop } from '~/logic/utils/math.utils';

const props = withDefaults(
  defineProps<{
    active: boolean;
    label: string;
    gradient: { start: string; end: string };
    options: string[];
    modelValue?: string;
    loading?: boolean;
    displayType?: 'text' | 'color';
  }>(),
  {
    modelValue: undefined,
    displayType: 'text',
  },
);

const emit = defineEmits<{
  (e: 'update:modelValue', value: string | undefined): void;
}>();

const change = (direction: -1 | 1) => {
  if (props.loading) return;

  let index;
  if (props.modelValue === undefined) {
    index = 0;
  } else {
    index = props.options.indexOf(props.modelValue);
  }

  const nextIndex = loop(index + direction, 0, props.options.length - 1);
  const nextValue = props.options.at(nextIndex);
  if (nextValue) {
    emit('update:modelValue', nextValue);
  }
};

const next = () => change(1);
const prev = () => change(-1);

defineExpose({
  next,
  prev,
});
</script>

<template>
  <div class="relative pt-1vh pb-1vh text-white select-none">
    <div class="text-center font-bold relative z-1 text-1.4vw pb-1vh">
      {{ label }}
    </div>
    <div class="z-1 relative text-1.4vw flex justify-center">
      <div class="pt-0.1vw">
        <Icon
          icon="TriangleArrow"
          class="rotate-90 transform p-0.2vw cursor-pointer"
          @click="() => change(-1)"
        ></Icon>
      </div>
      <div class="w-1/2 text-center truncate">
        <span v-if="!props.loading && props.displayType === 'text'">{{
          modelValue
        }}</span>
        <span v-else-if="!props.loading && props.displayType === 'color'"
          ><span
            class="h-1em w-1em bg-red rounded-full inline-block outline outline-2"
            :style="`background-color: ${modelValue};`"
          ></span
        ></span>
        <Icon
          v-else
          class="text-white block animate-spin !h-full"
          icon="Spinner"
        ></Icon>
      </div>
      <div class="pt-0.1vw">
        <Icon
          icon="TriangleArrow"
          class="rotate-270 transform p-0.2vw cursor-pointer"
          @click="() => change(1)"
        ></Icon>
      </div>
    </div>
    <div
      class="absolute w-full h-full transition-all duration-300 bg top-0 left-0"
      :class="!active && 'opacity-0'"
    ></div>
  </div>
</template>

<style scoped>
.bg {
  background: linear-gradient(
    90deg,
    v-bind('props.gradient.start') 0%,
    v-bind('props.gradient.end') 100%
  );
}
</style>
