<script setup lang="ts">
import * as icons from '~/logic/ui/icons';

const props = defineProps<{
  active: boolean;
  label: string;
  icon: keyof typeof icons;
  gradient: { start: string; end: string };
  animation?: 'spin' | 'pulse';
  description: string;
}>();
</script>

<template>
  <div class="cursor-pointer flex flex-col gap-2">
    <div class="relative">
      <div
        class="text-neutral-400 font-bold uppercase absolute bottom-0 left-0 transition-opacity duration-200 text-1vw leading-relaxed"
        :class="{ 'opacity-0': props.active }"
      >
        {{ label }}
      </div>
      <span
        class="absolute bottom-0 left-0 text-3xl font-bold bg-clip-text text-transparent gradient-title transition-opacity duration-200 text-2.0vw leading-relaxed"
        :class="{ 'opacity-0': !props.active }"
      >
        {{ props.label }}
      </span>
    </div>

    <div
      class="flex-grow flex flex-col outline outline-3 rounded-lg transition-all duration-300"
      :class="[props.active ? 'outline-white' : 'outline-white/0']"
    >
      <div
        class="banner flex justify-center items-center rounded-t-md transition-all duration-300"
        :class="{ 'rounded-b-lg': !props.active }"
      >
        <Icon
          class="text-white !w-1/2 !h-1/2 block"
          :class="{
            'animate-spin-10000': props.animation === 'spin' && props.active,
            'animate-pulse': props.animation === 'pulse' && props.active,
          }"
          :icon="icon"
        ></Icon>
      </div>
      <div
        class="flex-grow bg-white text-black font-semibold px-1/10 py-1/20 flex items-center justify-center transition-opacity duration-300 rounded-b-md text-1vw leading-relaxed"
        :class="{ 'opacity-0': !props.active }"
      >
        {{ props.description }}
      </div>
    </div>
  </div>
</template>

<style scoped>
.banner {
  aspect-ratio: 7 / 4;
  background: linear-gradient(
    180deg,
    v-bind('props.gradient.start') 0%,
    v-bind('props.gradient.end') 100%
  );
}

.gradient-title {
  background-image: linear-gradient(
    90deg,
    v-bind('props.gradient.start') 0%,
    v-bind('props.gradient.end') 100%
  );
}

.animate-pulse {
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
</style>
