<script setup lang="ts">
import { clamp, roundToDecimals } from '~/logic/utils/math.utils';

const props = withDefaults(
  defineProps<{
    active: boolean;
    label: string;
    gradient: { start: string; end: string };
    modelValue?: number;
    min?: number;
    max?: number;
    step?: number;
    clickStep?: number;
  }>(),
  {
    min: 0,
    max: 100,
    step: 1,
    modelValue: 0,
    clickStep: 1,
  },
);

const emit = defineEmits<{
  (e: 'update:modelValue', value: number): void;
}>();

const change = (delta: number) => {
  let nextValue = props.modelValue + delta;
  nextValue = roundToDecimals(nextValue, 10);
  emitChange(nextValue);
};

const onInput = (e: Event) => {
  const input = e.target as HTMLInputElement;
  const value = parseFloat(input.value);
  if (isNaN(value)) {
    return;
  }

  emitChange(value);
};

const emitChange = (value: number) => {
  const clampedValue = clamp(value, props.min, props.max);
  emit('update:modelValue', clampedValue);
};

const fillPercentage = computed(() => {
  const range = props.max - props.min;
  const percentage = ((props.modelValue - props.min) / range) * 100;
  return percentage + '%';
});

const next = () => change(props.clickStep);
const prev = () => change(-props.clickStep);

defineExpose({
  next,
  prev,
});
</script>

<template>
  <div class="relative pt-1vh pb-1vh text-white select-none">
    <div class="text-center font-bold relative z-1 text-1.4vw pb-1vh">
      {{ label }} - {{ props.modelValue }}
    </div>
    <div class="z-1 relative text-1.4vw flex justify-center items-center">
      <div class="pt-0.1vw">
        <Icon
          icon="TriangleArrow"
          class="rotate-90 transform p-0.2vw cursor-pointer"
          @click="() => change(-1 * props.clickStep)"
        ></Icon>
      </div>
      <div class="w-1/2 px-1vw h-0.8em">
        <div class="relative h-full">
          <div
            class="absolute bg-black/40 w-full h-full top-0 pointer-events-none rounded-0.3vw"
          ></div>
          <div
            class="absolute bg-white w-full h-full top-0 bar pointer-events-none rounded-0.3vw"
          ></div>
          <input
            :value="props.modelValue"
            type="range"
            class="w-full h-full slider cursor-pointer"
            :min="props.min"
            :max="props.max"
            :step="props.step"
            @input="onInput"
          />
        </div>
      </div>
      <div class="pt-0.1vw">
        <Icon
          icon="TriangleArrow"
          class="rotate-270 transform p-0.2vw cursor-pointer"
          @click="() => change(1 * props.clickStep)"
        ></Icon>
      </div>
    </div>
    <div
      class="absolute w-full h-full transition-all duration-300 bg top-0 left-0"
      :class="!active && 'opacity-0'"
    ></div>
  </div>
</template>

<style scoped>
.bg {
  background: linear-gradient(
    90deg,
    v-bind('props.gradient.start') 0%,
    v-bind('props.gradient.end') 100%
  );
}

.bar {
  clip-path: polygon(
    0 0,
    v-bind(fillPercentage) 0,
    v-bind(fillPercentage) 100%,
    0% 100%
  );
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100% !important;
  height: 100% !important;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 100%;
}

.slider::-webkit-slider-runnable-track {
  height: 100%;
}
</style>
