<script setup lang="ts">
import placeholder from '~/assets/images/cover-placeholder.png?url';
import { Song } from '~/logic/song/song';

const props = defineProps<{
  song: Song;
  active: boolean;
  sortTag?: string;
  disableAnimation?: boolean;
}>();

const coverUrl = ref();

watch(
  () => props.song,
  async () => {
    const url = await props.song.getCoverUrl();
    if (url) {
      coverUrl.value = url;
    } else {
      coverUrl.value = placeholder;
    }
  },
  { immediate: true },
);

const onTransitionEnd = (e: TransitionEvent) => {
  e.stopPropagation();
};
</script>

<template>
  <div class="h-full aspect-square">
    <div
      class="w-full h-full relative"
      :class="{
        'transform-gpu -translate-x-1/3': props.active,
        'transition-transform duration-150': !props.disableAnimation,
      }"
    >
      <div class="w-full h-full bg-black relative">
        <img
          class="object-cover w-full h-full backface-hidden absolute inset-0"
          :src="coverUrl"
          @error="() => (coverUrl = placeholder)"
          @transitionend="onTransitionEnd"
        />
        <img
          class="object-cover w-full h-full backface-hidden"
          :src="placeholder"
        />
      </div>
      <div
        v-if="props.sortTag"
        class="absolute top-0 left-0 transform -translate-x-1/2 z-2 tag rounded-full px-2vh pt-0.5vh pb-0.4vh text-1.7vh text-white mt-1/15"
      >
        {{ props.sortTag }}
      </div>
      <div
        class="flex flex-col justify-center items-center absolute top-0 left-0 w-full h-full gradient-bg outline-white outline outline-4 outline-offset-[-3px] text-white gap-2 font-500 px-1/6 pointer-events-none"
        :class="{
          'opacity-0': !props.active,
          'transition-opacity duration-250': !props.disableAnimation,
        }"
      >
        <p class="text-1.0vw">
          {{ props.song.title }}
        </p>
        <div class="border-white border-b-2 w-4 mt-2 mb-1"></div>
        <p class="text-0.8vw">
          {{ props.song.artist }}
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
.gradient-bg {
  background: linear-gradient(
    180deg,
    rgba(15, 133, 123, 0.9) 0%,
    rgba(46, 196, 104, 0.9) 100%
  );
}

.tag {
  background-color: rgba(46, 196, 104, 1);
}
</style>
