<script setup lang="ts">
const props = withDefaults(
  defineProps<{
    title: string;
    description?: string;
    backArrow?: boolean;
  }>(),
  {
    description: '',
    backArrow: true,
  },
);

const emit = defineEmits<{
  (e: 'back'): void;
}>();
</script>
<template>
  <div class="flex flex-row gap-6 text-neutral-400">
    <div
      class="font-semibold uppercase flex flex-row h-10 items-center space-x-0.4vw"
    >
      <Icon
        v-if="props.backArrow"
        icon="ChevronLeft"
        class="text-1.9vw mt-0.2vw cursor-pointer"
        @click="emit('back')"
      />
      <span class="text-1.2vw"> {{ props.title }}</span
      ><span v-if="props.description" class="text-0.6vw mt-0.5vw align-bottom"
        >/ {{ props.description }}</span
      >
    </div>
  </div>
</template>
