<script setup lang="ts">
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';
import { clamp } from '~/logic/utils/math.utils';
import { useSettingsStore } from '~/stores/settings';

const router = useRouter();
const settingsStore = useSettingsStore();

const sliders = computed(() => {
  return [
    {
      label: 'Master Volume',
      value: settingsStore.volume.master,
      setter: (value: number) => (settingsStore.volume.master = value),
    },
    {
      label: 'Game Volume',
      value: settingsStore.volume.game,
      setter: (value: number) => (settingsStore.volume.game = value),
    },
    {
      label: 'Preview Volume',
      value: settingsStore.volume.preview,
      setter: (value: number) => (settingsStore.volume.preview = value),
    },
  ];
});

const { position, increment, decrement } = useLoop(sliders.value.length - 1);

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'back') {
    router.back();
  } else if (event.action === 'down') {
    increment();
  } else if (event.action === 'up') {
    decrement();
  } else if (event.action === 'left') {
    const slider = sliders.value[position.value];
    slider.setter(clamp(slider.value - 5, 0, 100));
  } else if (event.action === 'right') {
    const slider = sliders.value[position.value];
    slider.setter(clamp(slider.value + 5, 0, 100));
  }
};

useHead({
  title: 'Tune Perfect - Settings',
});

const gradient = { start: '#36D1DC', end: '#5B86E5' };
</script>

<template>
  <Layout class="bg">
    <template #header>
      <MenuTitleBar
        title="Settings"
        description="Volume"
        @back="() => router.back()"
      ></MenuTitleBar>
    </template>
    <div class="flex-grow flex flex-col justify-center w-full">
      <MenuRangeSelect
        v-for="(slider, i) in sliders"
        :key="slider.label"
        :model-value="slider.value"
        :active="position === i"
        :label="slider.label"
        :gradient="gradient"
        class="w-full"
        :click-step="5"
        @update:model-value="slider.setter"
        @mouseenter="position = i"
      ></MenuRangeSelect>
    </div>
    <template #footer>
      <MenuKeyHints
        :hints="['back', 'navigate']"
        @back="() => router.back()"
      ></MenuKeyHints>
    </template>
  </Layout>
</template>

<style scoped>
.bg {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

.banner {
  aspect-ratio: 7 / 4;
  background: linear-gradient(180deg, #36d1dc 0%, #5b86e5 100%);
}
</style>
