<script setup lang="ts">
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';
import { useSongStore } from '~/stores/songs';

const songStore = useSongStore();
const router = useRouter();
const route = useRoute();

const deleteSource = () => {
  // if route params id is string
  if (typeof route.params.id === 'string') {
    const id = parseInt(route.params.id);
    if (isNaN(id)) router.back();
    songStore.deleteLocalSource(id);
  }
  router.back();
};

const buttons = [{ label: 'Delete', action: deleteSource }];

const { position, increment, decrement } = useLoop(buttons.length - 1);

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'back') {
    router.back();
  } else if (event.action === 'confirm') {
    buttons[position.value].action();
  } else if (event.action === 'up') {
    decrement();
  } else if (event.action === 'down') {
    increment();
  }
};

useHead({
  title: 'Tune Perfect - Settings',
});
</script>

<template>
  <Layout class="bg">
    <template #header>
      <MenuTitleBar
        title="Settings"
        description="Songs"
        @back="() => router.back()"
      ></MenuTitleBar>
    </template>
    <div class="flex flex-col flex-grow justify-center">
      <MenuWideButton
        v-for="(button, i) in buttons"
        :key="button.label"
        :label="button.label"
        :gradient="{ start: '#36D1DC', end: '#5B86E5' }"
        :active="position === i"
        @mouseenter="() => (position = i)"
        @click="button.action"
      ></MenuWideButton>
    </div>
    <template #footer>
      <MenuKeyHints
        :hints="['back', 'navigate', 'confirm']"
        @back="() => router.back()"
      ></MenuKeyHints>
    </template>
  </Layout>
</template>

<style scoped>
.bg {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}
</style>
