<script setup lang="ts">
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';
import { searchSongs } from '~/logic/song/ultrastar-parser';
import { useSongStore } from '~/stores/songs';

const router = useRouter();
const songStore = useSongStore();

const buttonLength = computed(() => {
  return songStore.localSources.length + 1;
});

const maxPosition = computed(() => {
  return buttonLength.value - 1;
});

const { position, increment, decrement } = useLoop(maxPosition);

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'back') {
    router.back();
  } else if (event.action === 'confirm') {
    if (position.value === maxPosition.value) {
      selectDirectory();
    } else {
      router.push(`/settings/songs/${position.value}`);
    }
  } else if (event.action === 'left') {
    decrement();
  } else if (event.action === 'right') {
    increment();
  }
};

const loading = ref(false);

const selectDirectory = async () => {
  if (loading.value) return;

  const directoryHandle = await showDirectoryPicker();
  loading.value = true;
  const foundSongs = await searchSongs(directoryHandle);
  songStore.addLocalSource(directoryHandle.name, foundSongs);
  loading.value = false;
};

useHead({
  title: 'Tune Perfect - Settings',
});

const gradient = { start: '#36D1DC', end: '#5B86E5' };
</script>

<template>
  <Layout class="bg">
    <template #header>
      <MenuTitleBar
        title="Settings"
        description="Songs"
        @back="() => router.back()"
      ></MenuTitleBar>
    </template>
    <div class="flex flex-row flex-grow justify-center items-center gap-7">
      <div
        v-for="(source, i) in songStore.localSources"
        :key="source.name + i"
        class="w-1/11"
      >
        <MenuIconCard
          :active="position === i"
          :label="source.name"
          icon="Folder"
          :gradient="gradient"
          @mouseenter="() => (position = i)"
          @click="() => router.push(`/settings/songs/${i}`)"
        ></MenuIconCard>
      </div>
      <div class="w-1/11">
        <MenuIconCard
          :active="position === buttonLength - 1"
          label="Add"
          icon="Plus"
          :gradient="gradient"
          :loading="loading"
          @click="selectDirectory"
          @mouseenter="() => (position = maxPosition)"
        ></MenuIconCard>
      </div>
    </div>
    <div
      class="w-full text-white bg-gray-700 px-1/20 font-semibold py-2 flex items-center justify-center gap-3 text-1vw leading-relaxed mb-3vw"
    >
      <Icon icon="Info" class="text-2vw" />
      <div>
        <p>
          In order to play Tune Perfect, you need to provide your own songs.
        </p>

        <p>
          You need to reselect your song folder, every time you reload the page.
        </p>
      </div>
    </div>
    <template #footer>
      <MenuKeyHints
        :hints="['back', 'navigate', 'confirm']"
        @back="() => router.back()"
      ></MenuKeyHints>
    </template>
  </Layout>
</template>

<style scoped>
.bg {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

.banner {
  aspect-ratio: 7 / 4;
  background: linear-gradient(180deg, #36d1dc 0%, #5b86e5 100%);
}
</style>
