<script setup lang="ts">
import GameLyrics from '~/components/game/Lyrics.vue';
import GamePitch from '~/components/game/Pitch.vue';
import { Song } from '~/logic/song/song';
import {
  millisecondInSongToBeat,
  millisecondInSongToBeatWithoutGap,
} from '~/logic/utils/bpm.utils';
import { PitchProcessor } from '~/logic/voice/pitch-processor';
import { Microphone } from '~/stores/settings';

const props = defineProps<{
  song: Song;
  voiceIndex: number;
  position: 'top' | 'bottom';
  pitchProcessor?: PitchProcessor;
  microphone: Microphone;
}>();

const emit = defineEmits<{
  (e: 'addScore', points: number): void;
}>();

const lyricsEl = ref<InstanceType<typeof GameLyrics>>();
const pitchEl = ref<InstanceType<typeof GamePitch>>();

const voice = computed(() => {
  return props.song.voices.at(props.voiceIndex);
});

const sentenceIndex = ref(0);
const currentSentence = computed(() => {
  if (!voice.value) return undefined;

  return voice.value.sentences.at(sentenceIndex.value);
});

let beat = millisecondInSongToBeat(props.song, 0);
const hidden = ref(false);
let showBeforeBeat = 0;

// hide notes if next sentence is far away
watch(
  currentSentence,
  (sentence) => {
    const hideBeforeBeats = millisecondInSongToBeatWithoutGap(
      props.song,
      15000,
    );

    if (sentence && sentence.minBeat - hideBeforeBeats > beat) {
      hidden.value = true;
    }

    const showBeforeBeats = millisecondInSongToBeatWithoutGap(props.song, 7000);

    if (sentence) {
      showBeforeBeat = sentence.minBeat - showBeforeBeats;
    }
  },
  { immediate: true },
);

const nextSentence = computed(() => {
  if (!voice.value) return undefined;
  return voice.value.sentences.at(sentenceIndex.value + 1);
});

const updateSentences = (currentBeat: number) => {
  if (!voice.value || !currentSentence.value) return;
  if (currentSentence.value.isAlreadyPlayed(currentBeat)) {
    sentenceIndex.value++;
  }
};

const delayInBeats = computed(() => {
  return millisecondInSongToBeatWithoutGap(props.song, props.microphone.delay);
});

const update = (currentBeat: number) => {
  beat = currentBeat;

  if (currentBeat > showBeforeBeat) {
    hidden.value = false;
  }

  updateSentences(currentBeat);

  if (lyricsEl.value) {
    lyricsEl.value.update(currentBeat);
  }
  if (pitchEl.value) {
    pitchEl.value.update(currentBeat);
  }
};

defineExpose({
  update,
});
</script>

<template>
  <div
    class="flex w-full h-1/2"
    :class="[
      props.position === 'top' ? 'flex-col' : 'flex-col-reverse',
      hidden ? 'opacity-0' : 'transition-opacity duration-3000 opacity-100',
    ]"
  >
    <GameLyrics
      ref="lyricsEl"
      :current-sentence="currentSentence"
      :next-sentence="nextSentence"
      :microphone="props.microphone"
      :song="props.song"
      :position="props.position"
    />
    <GamePitch
      ref="pitchEl"
      :microphone="props.microphone"
      :position="props.position"
      :current-sentence="currentSentence"
      class="flex-grow w-full h-full"
      :delay-in-beats="delayInBeats"
      :pitch-processor="props.pitchProcessor"
      @add-score="(points: number) => emit('addScore', points)"
    ></GamePitch>
  </div>
</template>
