<script setup lang="ts">
import { Microphone } from '~/stores/settings';

const props = defineProps<{
  scores?: Map<number, number>;
  microphones?: Microphone[];
}>();

const progress = ref(0);

const leader = ref(-1);
let lastLeaderCalc = 0;

const update = (currentTime: number, duration: number) => {
  progress.value = (currentTime / duration) * 100;

  // check if lastLeaderCalc is more than 1 second ago
  if (props.scores && currentTime - lastLeaderCalc > 1) {
    lastLeaderCalc = currentTime;
    leader.value = -1;

    if (props.scores.size === 1) {
      leader.value = -1;
    } else if (props.scores.size === 2) {
      // check if all some scores have same value
      const score0 = props.scores.get(0);
      const score1 = props.scores.get(1);
      if (score0 !== undefined && score1 !== undefined) {
        if (score0 === score1) {
          leader.value = -1;
        } else {
          leader.value = score0 > score1 ? 0 : 1;
        }
      } else {
        leader.value = -1;
      }
    }
  }
};

const leaderColor = computed(() => {
  if (leader.value === -1) return '#fff';
  return props.microphones?.[leader.value].color;
});

const score = computed(() => {
  return (index: number) => {
    const locale = navigator?.language || 'en-US';
    const score = props.scores?.get(index)?.toLocaleString(locale) ?? 0;
    return score;
  };
});

const color = computed(() => {
  return (index: number) => {
    const color = props.microphones?.[index]?.color ?? '#FFF0';
    return color;
  };
});

defineExpose({ update });
</script>

<template>
  <div class="w-full h-full flex items-center justify-end">
    <div class="w-full flex flex-col items-end">
      <div
        class="text-3vw pr-3vw pb-0.5vw pt-0.2vw"
        :style="`color: ${color(0)}`"
      >
        {{ score(0) }}
      </div>
      <div class="w-full px-3vw">
        <div class="h-1 progress rounded-full"></div>
      </div>
      <div
        class="text-3vw pr-3vw pt-0.2vw pb-0.5vw"
        :style="`color: ${color(1)}`"
      >
        {{ score(1) }}
      </div>
    </div>
  </div>
</template>

<style scoped>
.progress {
  background: linear-gradient(
    90deg,
    v-bind(leaderColor) v-bind('progress+ "%"'),
    #fff2 v-bind('progress+ "%"')
  );
}
</style>
