<script setup lang="ts">
import { Note } from '~/logic/song/note';
import { clamp } from '~/logic/utils/math.utils';
import { Microphone } from '~/stores/settings';

const props = defineProps<{
  note: Note;
  microphone: Microphone;
}>();

const percentage = ref(0);

const update = (currentBeat: number) => {
  if (currentBeat < props.note.startBeat) return;
  const per = ((currentBeat - props.note.startBeat) * 100) / props.note.length;
  percentage.value = clamp(per, 0, 100);
};

defineExpose({
  update,
});
</script>

<template>
  <div
    class="gradient whitespace-pre bg-clip-text text-transparent text-2.0vw leading-relaxed"
  >
    {{ props.note.text }}
  </div>
</template>

<style scoped>
.gradient {
  background-image: linear-gradient(
    90deg,
    v-bind('props.microphone.color') v-bind('percentage + "%"'),
    white v-bind('percentage + "%"')
  );
}
</style>
