<script setup lang="ts">
import GameLyricsNote from '~/components/game/LyricsNote.vue';
import { Note, NoteType } from '~/logic/song/note';
import { Sentence } from '~/logic/song/sentence';
import { Song } from '~/logic/song/song';
import { millisecondInSongToBeatWithoutGap } from '~/logic/utils/bpm.utils';
import { Microphone } from '~/stores/settings';

const props = defineProps<{
  currentSentence?: Sentence;
  nextSentence?: Sentence;
  position: 'top' | 'bottom';
  song: Song;
  microphone: Microphone;
}>();

const lyricsNoteEls =
  useTemplateRefsList<InstanceType<typeof GameLyricsNote>>();

const nextSentenceString = computed(() => {
  if (!props.nextSentence) return ' ';
  return props.nextSentence.notes.map((note) => note.text).join('');
});

const emptyNote = ref(new Note(NoteType.Normal, 0, 0, 0, ' '));

const leadInStartPercentage = ref(0);
const leadInEndPercentage = ref(0);

const calculateLeadIn = (currentBeat: number) => {
  if (props.currentSentence) {
    const percentage =
      ((currentBeat - props.currentSentence.minBeat) * -100) /
      millisecondInSongToBeatWithoutGap(props.song, 3000);
    leadInEndPercentage.value = percentage;
    leadInStartPercentage.value = percentage + 30;
  }
};

const update = (currentBeat: number) => {
  calculateLeadIn(currentBeat);

  lyricsNoteEls.value.forEach((lyricsNoteEl) => {
    lyricsNoteEl.update(currentBeat);
  });
};

defineExpose({
  update,
});
</script>

<template>
  <div
    class="w-full bg-black/70"
    :class="[props.position === 'top' ? 'pt-1/150 pb-1/200' : 'pb-1/85']"
  >
    <div class="flex">
      <div class="flex-grow pt-0.8vw pb-0.7vw pr-0.5vw">
        <div
          class="lead-in h-full"
          :class="{ 'opacity-0': !props.currentSentence }"
        ></div>
      </div>
      <div v-if="props.currentSentence" class="flex justify-center">
        <GameLyricsNote
          v-for="note in props.currentSentence?.notes"
          :ref="lyricsNoteEls.set"
          :key="note.startBeat"
          :microphone="props.microphone"
          :note="note"
        ></GameLyricsNote>
      </div>
      <div v-else>
        <GameLyricsNote
          :note="emptyNote"
          :microphone="props.microphone"
        ></GameLyricsNote>
      </div>
      <div class="flex-grow"></div>
    </div>
    <div
      class="whitespace-pre-wrap text-white/50 text-center text-1.7vw leading-relaxed -mt-0.5vw"
    >
      {{ nextSentenceString }}
    </div>
  </div>
</template>

<style scoped>
.lead-in {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) v-bind('leadInEndPercentage + "%"'),
    v-bind('props.microphone.color') v-bind('leadInEndPercentage + "%"'),
    rgba(0, 0, 0, 0) v-bind('leadInStartPercentage + "%"')
  );
}
</style>
