<script setup lang="ts">
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';

const router = useRouter();

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'confirm' || event.action === 'back') {
    router.back();
  }
};

useHead({
  title: 'Tune Perfect - Settings',
});
</script>

<template>
  <Layout class="bg">
    <template #header>
      <MenuTitleBar
        title="Coming soon"
        @back="() => router.back()"
      ></MenuTitleBar>
    </template>
    <div class="flex flex-col flex-grow justify-center items-center gap-4vw">
      <div class="font-semibold text-3vw">Coming Soon</div>
      <div
        class="text-1vw font-semibold outline outline-2 rounded-lg px-1vw py-0.5vw gradient-button cursor-pointer"
        @click="router.back()"
      >
        Back
      </div>
    </div>
    <template #footer>
      <MenuKeyHints
        :hints="['back', 'confirm']"
        @back="() => router.back()"
      ></MenuKeyHints>
    </template>
  </Layout>
</template>

<style scoped>
.bg {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

.gradient-button {
  background-image: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);
}
</style>
