<script setup lang="ts">
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';
import * as icons from '~/logic/ui/icons';
import { useSettingsStore } from '~/stores/settings';

const router = useRouter();
const settingsStore = useSettingsStore();

const showMicError = ref(false);

const hideMicError = useDebounceFn(() => {
  showMicError.value = false;
}, 5000);

const goToSongs = () => {
  if (settingsStore.microphones.length === 0) {
    showMicError.value = true;
    hideMicError();
  } else {
    router.push('/songs');
  }
};

const cards: {
  icon: keyof typeof icons;
  label: string;
  gradient: { start: string; end: string };
  action: () => void;
  animation?: 'spin' | 'pulse';
  description: string;
}[] = [
  {
    icon: 'VinylRecord',
    label: 'Sing',
    gradient: { start: '#11998e', end: '#38ef7d' },
    action: goToSongs,
    animation: 'spin',
    description: 'Sing your favorite songs, alone or with your friends!',
  },
  {
    icon: 'Dice',
    label: 'Party Games',
    gradient: { start: '#7420FB', end: '#CF56E3' },
    action: () => router.push('/party'),
    animation: 'pulse',
    description:
      'Battle it out with your friends in one of the different party game modes!',
  },
  {
    icon: 'Group',
    label: 'Lobby',
    gradient: { start: '#c94b4b', end: '#ffc0cb' },
    action: () => router.push('/lobby'),
    animation: 'pulse',
    description: 'Manage the party you are in and invite your friends.',
  },
  {
    icon: 'Gear',
    label: 'Settings',
    gradient: { start: '#36D1DC', end: '#5B86E5' },
    action: () => router.push('/settings'),
    animation: 'spin',
    description: 'Change your settings.',
  },
];

const { position, increment, decrement } = useLoop(cards.length - 1);

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'confirm') {
    cards[position.value].action();
  } else if (event.action === 'right') {
    increment();
  } else if (event.action === 'left') {
    decrement();
  }
};

useHead({
  title: 'Tune Perfect',
});
</script>

<template>
  <Layout class="bg">
    <template #header>
      <span class="font-bold text-white text-2.0vw leading-relaxed"
        >TUNE PERFECT</span
      >
    </template>
    <div class="flex-grow"></div>
    <div class="flex flex-col mb-3vw px-5vw">
      <div class="grid grid-cols-4 w-full gap-4">
        <MenuModeCard
          v-for="(card, i) in cards"
          :key="card.label"
          :gradient="card.gradient"
          :active="position === i"
          :label="card.label"
          :icon="card.icon"
          :description="card.description"
          class="flex-1"
          :animation="card.animation"
          @mouseenter="() => (position = i)"
          @click="card.action"
        ></MenuModeCard>
      </div>
    </div>
    <div
      class="absolute top-0 right-0 p-4vw pointer-events-none transition-opacity duration-500"
      :class="{ 'opacity-0': !showMicError }"
    >
      <div
        class="flex justify-center items-center gap-3 bg-red-600/80 p-1vw rounded-xl"
      >
        <Icon icon="Info" class="text-2vw rotate-180 transform" />
        <div class="text-1vw">
          <p>You have to add at least 1 microphone to play Tune Perfect.</p>
          <p>Go to Settings > Microphones to add your microphone.</p>
        </div>
      </div>
    </div>
    <template #footer>
      <MenuKeyHints
        :hints="['navigate', 'confirm']"
        @back="() => router.back()"
      ></MenuKeyHints>
    </template>
  </Layout>
</template>

<style scoped>
.bg {
  background: radial-gradient(
    at 60% top,
    rgba(30, 36, 75, 1) 0%,
    rgba(16, 16, 36, 1) 100%
  );
}

.title {
  background-image: linear-gradient(
    90deg,
    v-bind('cards[position].gradient.start') 0%,
    v-bind('cards[position].gradient.end') 100%
  );
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.3s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  opacity: 0;
}
</style>
