<script setup lang="ts">
import Input from '~/components/menu/Input.vue';
import MenuSongScroller from '~/components/menu/SongScroller.vue';
import { MenuNavigationEvent } from '~/composables/useMenuNavigation.js';
import { Song } from '~/logic/song/song';
import { keyMode } from '~/logic/ui/keys';
import { songsSortKey, songsSearchText } from '~/logic/ui/pageStates';
import { loop } from '~/logic/utils/math.utils';
import { useRoundStore } from '~/stores/round';
import { useSettingsStore } from '~/stores/settings';
import { useSongStore } from '~/stores/songs';

const songStore = useSongStore();
const roundStore = useRoundStore();
const settingsStore = useSettingsStore();
const router = useRouter();

const songScrollerEl = ref<InstanceType<typeof MenuSongScroller>>();
const searchInputEl = ref<InstanceType<typeof Input>>();

useHead({
  title: 'Tune Perfect - Songs',
});

const currentSong = ref<Song>();

const onSongSelect = (song?: Song) => {
  currentSong.value = song;
};

const startRound = () => {
  if (currentSong.value) {
    roundStore.setSong(currentSong.value);
    router.push('/sing');
  }
};

const isFocused = ref(false);

const selectRandomSong = () => {
  songScrollerEl.value?.selectRandomSong();
};

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (!isFocused.value) {
    if (event.action === 'back') {
      router.push('/');
    } else if (event.action === 'confirm') {
      startRound();
    } else if (event.action === 'pageup') {
      switchSortKey(-1);
    } else if (event.action === 'pagedown') {
      switchSortKey(1);
    } else if (event.action === 'search') {
      searchInputEl.value?.focus();
    } else if (event.action === 'random') {
      selectRandomSong();
    }

    if (songScrollerEl.value) {
      if (event.action === 'down') {
        songScrollerEl.value.next(event.repeat);
      } else if (event.action === 'up') {
        songScrollerEl.value.prev(event.repeat);
      }
    }
  } else {
    if (event.action === 'confirm' || event.action === 'search') {
      searchInputEl.value?.blur();
    }
  }
};

const onWheel = (e: WheelEvent) => {
  if (songScrollerEl.value) {
    if (e.deltaY > 0) {
      songScrollerEl.value.next(false);
    } else if (e.deltaY < 0) {
      songScrollerEl.value.prev(false);
    }
  }
};

const sortKeys = ['Artist', 'Title', 'Year'];
const switchSortKey = (direction: -1 | 1) => {
  const index = sortKeys.indexOf(songsSortKey.value);
  const nextIndex = loop(index + direction, 0, sortKeys.length - 1);
  songsSortKey.value = sortKeys[nextIndex];
};
</script>

<template>
  <div class="bg w-screen h-screen" @wheel="onWheel">
    <div class="w-screen h-screen absolute pointer-events-none">
      <div class="absolute w-screen h-screen">
        <SongPlayer
          :playing="true"
          :song="currentSong"
          class="w-full h-full opacity-30"
          :volume="settingsStore.getPreviewVolume"
        ></SongPlayer>
      </div>
      <div class="absolute w-screen h-screen bg-white/80 top-clip"></div>
      <div class="absolute w-screen h-screen bg-white/80 bottom-clip"></div>
    </div>
    <div
      class="w-screen h-screen absolute top-0 left-0 flex items-center justify-end overflow-y-hidden pr-1/15 pointer-events-none"
    >
      <MenuSongScroller
        ref="songScrollerEl"
        :sort-key="songsSortKey"
        :songs="songStore.getSongs"
        :search-text="songsSearchText"
        @select-song="onSongSelect"
        @start-round="startRound"
      ></MenuSongScroller>
    </div>
    <Layout class="absolute pointer-events-none">
      <div class="flex items-center">
        <MenuTitleBar
          title="Songs"
          class="pl-1/20 !text-black pointer-events-auto"
          @back="() => router.push('/')"
        ></MenuTitleBar>
        <div class="pl-7vw">
          <MenuInput
            ref="searchInputEl"
            v-model="songsSearchText"
            class="pointer-events-auto w-15vw"
            @focusin="isFocused = true"
            @focusout="isFocused = false"
          ></MenuInput>
        </div>
      </div>
      <div class="flex flex-col flex-grow px-1/20">
        <div class="flex flex-col flex-grow">
          <div v-if="currentSong" class="pt-6vh">
            <div class="py-1vw">
              <Icon
                icon="Duet"
                class="text-1.3vw opacity-0"
                :class="{ 'opacity-100': currentSong.voices.length > 1 }"
              ></Icon>
            </div>
            <div class="text-1.3vw font-semibold max-w-1/4 text-black">
              {{ currentSong?.artist }}
            </div>
            <div class="max-w-2/3">
              <span
                class="font-bold bg-clip-text text-transparent gradient-title transition-opacity duration-200 text-5.0vw leading-tight"
              >
                {{ currentSong?.title }}
              </span>
            </div>
          </div>
        </div>
        <div class="flex-grow"></div>
      </div>
      <div class="pt-1/30 px-1/20 flex justify-between select-none">
        <MenuKeyHints
          :hints="['back', 'navigate', 'confirm', 'random']"
          class="!text-white pointer-events-auto"
          @back="() => router.push('/')"
        ></MenuKeyHints>
        <div class="pr-30vh flex pointer-events-auto items-center">
          <div class="flex items-center mr-1.2vw text-black">
            <Icon
              icon="Dice"
              class="text-2vw mr-2vw cursor-pointer"
              @click="selectRandomSong"
            ></Icon>
            <Icon
              icon="TriangleArrow"
              class="rotate-90 transform text-1.1vw cursor-pointer"
              @click="() => switchSortKey(-1)"
            ></Icon>
            <Icon
              :icon="keyMode === 'keyboard' ? 'KeyPageUp' : 'XboxLB'"
              class="text-1.2vw ml-0.4vw mr-0.4vw cursor-pointer"
              @click="() => switchSortKey(-1)"
            ></Icon>
            <Icon icon="Minus" class="text-0.7vw"></Icon>
            <Icon
              :icon="keyMode === 'keyboard' ? 'KeyPageDown' : 'XboxRB'"
              class="text-1.2vw ml-0.4vw mr-0.4vw cursor-pointer"
              @click="() => switchSortKey(1)"
            ></Icon>
            <Icon
              icon="TriangleArrow"
              class="rotate-270 transform text-1.1vw cursor-pointer"
              @click="() => switchSortKey(1)"
            ></Icon>
          </div>

          <div
            v-for="sortKey in sortKeys"
            :key="sortKey"
            class="px-0.7vw pt-0.3vw pb-0.4vw rounded-full text-white text-0.9vw cursor-pointer"
            :class="[songsSortKey === sortKey ? 'tag' : 'text-black']"
            @click="songsSortKey = sortKey"
          >
            {{ sortKey }}
          </div>
        </div>
      </div>
    </Layout>
  </div>
</template>

<style scoped>
.bg {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

.gradient-title {
  background-image: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);
}

.top-clip {
  clip-path: polygon(55% 0, 0 0, 0 55%);
}

.bottom-clip {
  clip-path: polygon(100% 35%, 100% 100%, 35% 100%);
}

.banner {
  aspect-ratio: 7 / 4;
  background: linear-gradient(180deg, #36d1dc 0%, #5b86e5 100%);
}

.tag {
  background-color: rgba(46, 196, 104, 1);
}
</style>
