<script setup lang="ts"></script>

<template>
  <div class="w-screen h-screen flex flex-col py-7vh">
    <div class="px-5vw">
      <slot name="header"></slot>
    </div>
    <slot></slot>
    <div class="px-5vw">
      <slot name="footer"></slot>
    </div>
  </div>
</template>
