<script setup lang="ts">
import { Song } from '~/logic/song/song';

const props = withDefaults(
  defineProps<{
    song?: Song;
    playing?: boolean;
    volume?: number;
  }>(),
  {
    song: undefined,
    playing: false,
    volume: 100,
  },
);

const emit = defineEmits<{
  (e: 'canPlaySong'): void;
  (e: 'ended'): void;
}>();

// Check if video and audio is playable (2 = playable)
let canPlayCount = 0;

const videoSource = ref<string>();
const audioSource = ref<string>();
const coverSource = ref<string>();

const videoEl = ref<HTMLVideoElement>();
const audioEl = ref<HTMLAudioElement>();

const showCover = ref(false);

watch(
  () => props.song,
  async (song, prevSong) => {
    canPlayCount = 0;
    showCover.value = false;

    prevSong?.clearVideoUrl();
    prevSong?.clearMp3Url();

    if (song) {
      videoSource.value = await song.getVideoUrl();
      if (!videoSource.value) {
        showCover.value = true;
        canPlayCount++;
      }
      audioSource.value = await song.getMp3Url();
      coverSource.value = await song.getCoverUrl();
    } else {
      videoSource.value = undefined;
      audioSource.value = undefined;
    }
  },
  { immediate: true },
);

watch(
  () => props.volume,
  (volume) => {
    if (audioEl.value) {
      audioEl.value.volume = volume / 100;
    }
  },
);

const play = () => {
  if (videoEl.value) {
    videoEl.value.play();
  }
  if (audioEl.value) {
    audioEl.value.play();
    audioEl.value.volume = props.volume / 100;
  }
};

const pause = () => {
  if (videoEl.value) {
    videoEl.value.pause();
  }
  if (audioEl.value) {
    audioEl.value.pause();
  }
};

const onError = () => {
  canPlayCount++;
  showCover.value = true;
  checkCanPlay();
};

const onCanPlay = () => {
  canPlayCount++;
  checkCanPlay();
};

const checkCanPlay = () => {
  if (canPlayCount === 2) {
    emit('canPlaySong');
    if (props.playing) {
      play();
    }
  }
};

watch(
  () => props.playing,
  (playing) => {
    if (playing) {
      checkCanPlay();
    } else {
      pause();
    }
  },
);

const getAudioTime = () => {
  if (audioEl.value) {
    return audioEl.value.currentTime;
  }
  return 0;
};

const getAudioDuration = () => {
  if (audioEl.value) {
    return audioEl.value.duration;
  }
  return 0;
};

const onEnded = () => {
  emit('ended');
};

onMounted(() => {
  audioEl.value?.addEventListener('ended', onEnded);
});

onUnmounted(() => {
  audioEl.value?.removeEventListener('ended', onEnded);
  if (props.song) {
    // props.song.clearVideoUrl();
    // props.song.clearMp3Url();
  }
});

defineExpose({ getAudioTime, getAudioDuration });
</script>
<template>
  <div>
    <video
      ref="videoEl"
      :src="videoSource"
      class="object-cover w-full h-full"
      muted
      @canplay="onCanPlay"
      @error="onError"
    ></video>
    <div
      class="absolute w-full h-full top-0 left-0 overflow-hidden"
      :class="{ 'opacity-0': !showCover }"
    >
      <img
        class="w-full h-full object-cover absolute top-0 left-0 blur-lg filter opacity-70"
        :src="coverSource"
      />
      <img
        class="w-full h-full object-contain absolute top-0 left-0"
        :src="coverSource"
      />
    </div>

    <audio ref="audioEl" :src="audioSource" @canplay="onCanPlay" />
  </div>
</template>
