<script setup lang="ts">
import MenuListSelect from '~/components/menu/ListSelect.vue';
import MenuRangeSelect from '~/components/menu/RangeSelect.vue';
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';
import { Microphone, useSettingsStore } from '~/stores/settings';

const settingsStore = useSettingsStore();
const router = useRouter();
const route = useRoute();

useHead({
  title: 'Tune Perfect - Settings',
});

const loading = ref(true);
const mediaDevices = ref<MediaDeviceInfo[]>([]);

const micOptions = computed(() => {
  const options = mediaDevices.value.map((device) => device.label);
  return options;
});

const mic = ref<string | undefined>();

const channel = ref('1');
const channelOptions = ['1', '2', '3', '4'];

const color = ref('#00B5FF');
const colorOptions = ['#00B5FF', '#FF2E0E'];

const delay = ref(250);
const gain = ref(1);

const getFromStore = () => {
  if (route.params.id === 'new') return;

  if (Array.isArray(route.params.id)) return;
  const id = parseInt(route.params.id);
  const microphone = settingsStore.microphones[id];
  if (!microphone) return;

  channel.value = microphone.channel.toString();
  color.value = microphone.color;
  delay.value = microphone.delay;
  gain.value = microphone.gain;
  mic.value = microphone.label;
};
getFromStore();

const settingsEls =
  useTemplateRefsList<
    InstanceType<typeof MenuListSelect | typeof MenuRangeSelect>
  >();

const { position, increment, decrement } = useLoop(6);

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'back') {
    router.back();
  } else if (event.action === 'confirm') {
    if (position.value === 6) {
      saveMic();
    } else if (position.value === 5) {
      deleteMic();
    }
  } else if (event.action === 'up') {
    decrement();
  } else if (event.action === 'down') {
    increment();
  } else if (position.value < 5) {
    if (event.action === 'left') {
      settingsEls.value[position.value].prev();
    } else if (event.action === 'right') {
      settingsEls.value[position.value].next();
    }
  }
};

onMounted(async () => {
  const stream = await navigator.mediaDevices.getUserMedia({
    audio: true,
    video: false,
  });
  const devices = await navigator.mediaDevices.enumerateDevices();
  mediaDevices.value = devices.filter((device) => device.kind === 'audioinput');
  stream.getTracks().forEach((track) => track.stop());
  loading.value = false;
  if (mediaDevices.value.length > 0 && route.params.id === 'new') {
    mic.value = mediaDevices.value[0].label;
  }
});

const saveMic = () => {
  if (!mic.value) return;

  const id = mediaDevices.value.find(
    (device) => device.label === mic.value,
  )?.deviceId;
  if (!id) return;

  if (Array.isArray(route.params.id)) return;

  const index =
    route.params.id === 'new'
      ? settingsStore.microphones.length
      : parseInt(route.params.id);

  const microphone: Microphone = {
    id,
    label: mic.value,
    channel: parseInt(channel.value),
    color: color.value,
    delay: delay.value,
    gain: gain.value,
  };

  settingsStore.setMicrophone(index, microphone);
  router.back();
};

const deleteMic = () => {
  if (Array.isArray(route.params.id)) return;
  const id = parseInt(route.params.id);
  settingsStore.deleteMicrophone(id);
  router.back();
};

const gradient = { start: '#36D1DC', end: '#5B86E5' };
</script>

<template>
  <Layout class="bg">
    <template #header>
      <MenuTitleBar
        title="Settings"
        description="Microphones"
        @back="() => router.back()"
      ></MenuTitleBar>
    </template>
    <div class="flex-grow inline-block overflow-y-auto scrollbar">
      <div class="flex items-center h-full">
        <div class="max-h-full w-full">
          <MenuListSelect
            :ref="settingsEls.set"
            v-model="mic"
            :options="micOptions"
            :active="position === 0"
            label="Microphone"
            :loading="loading"
            :gradient="gradient"
            @mouseenter="() => (position = 0)"
          />
          <MenuListSelect
            :ref="settingsEls.set"
            v-model="channel"
            :options="channelOptions"
            :active="position === 1"
            label="Channel"
            :gradient="gradient"
            @mouseenter="() => (position = 1)"
          />
          <MenuListSelect
            :ref="settingsEls.set"
            v-model="color"
            :options="colorOptions"
            :active="position === 2"
            label="Color"
            :gradient="gradient"
            display-type="color"
            @mouseenter="() => (position = 2)"
          />
          <MenuRangeSelect
            :ref="settingsEls.set"
            v-model="delay"
            :active="position === 3"
            label="Delay"
            :gradient="gradient"
            :min="0"
            :max="500"
            :step="1"
            :click-step="10"
            @mouseenter="() => (position = 3)"
          />
          <MenuRangeSelect
            :ref="settingsEls.set"
            v-model="gain"
            :active="position === 4"
            label="Gain"
            :gradient="gradient"
            :min="0"
            :max="2"
            :step="0.1"
            :click-step="0.1"
            @mouseenter="() => (position = 4)"
          />
          <MenuWideButton
            :active="position === 5"
            label="Delete"
            :gradient="gradient"
            @mouseenter="() => (position = 5)"
            @click="deleteMic"
          />
          <MenuWideButton
            :active="position === 6"
            label="Save"
            :gradient="gradient"
            @click="saveMic"
            @mouseenter="() => (position = 6)"
          />
        </div>
      </div>
    </div>
    <template #footer>
      <MenuKeyHints
        :hints="['back', 'navigate', 'confirm']"
        @back="() => router.back()"
      ></MenuKeyHints>
    </template>
  </Layout>
</template>

<style scoped>
.bg {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #666;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ddd;
  height: 10px;
}
</style>
