<script setup lang="ts">
import { MenuNavigationEvent } from '~/composables/useMenuNavigation';
import { useSettingsStore } from '~/stores/settings';

const router = useRouter();
const settingsStore = useSettingsStore();

const maxPosition = computed(() => {
  if (settingsStore.microphones.length === 2) {
    return 2;
  }
  return settingsStore.microphones.length;
});

const { position, increment, decrement } = useLoop(maxPosition);

useMenuNavigation(useRepeatThrottleFn((e) => onNavigate(e), 150));

const onNavigate = (event: MenuNavigationEvent) => {
  if (event.action === 'back') {
    router.back();
  } else if (event.action === 'confirm') {
    if (position.value < settingsStore.microphones.length) {
      router.push(`/settings/microphones/${position.value}`);
    } else {
      router.push(`/settings/microphones/new`);
    }
  } else if (event.action === 'left') {
    decrement();
  } else if (event.action === 'right') {
    increment();
  }
};

useHead({
  title: 'Tune Perfect - Settings',
});

const gradient = { start: '#36D1DC', end: '#5B86E5' };
</script>

<template>
  <Layout class="bg">
    <template #header>
      <MenuTitleBar
        title="Settings"
        description="Microphones"
        @back="() => router.back()"
      ></MenuTitleBar>
    </template>
    <div class="flex flex-row flex-grow justify-center items-center gap-7">
      <div
        v-for="(mic, i) in settingsStore.microphones"
        :key="mic.id + mic.channel"
        class="w-1/11"
      >
        <MenuIconCard
          :active="position === i"
          :label="mic.label + ' - ' + mic.channel"
          icon="Microphone"
          :gradient="gradient"
          @mouseenter="() => (position = i)"
          @click="() => router.push(`/settings/microphones/${i}`)"
        ></MenuIconCard>
      </div>
      <div v-if="settingsStore.microphones.length < 2" class="w-1/11">
        <MenuIconCard
          :active="position === maxPosition"
          label="Add"
          icon="Plus"
          :gradient="gradient"
          @click="router.push('/settings/microphones/new')"
          @mouseenter="() => (position = maxPosition)"
        ></MenuIconCard>
      </div>
    </div>
    <div
      class="w-full text-white bg-gray-700 px-1/20 font-semibold py-2 flex items-center justify-center gap-3 text-1vw leading-relaxed mb-3vw"
    >
      <Icon icon="Info" class="text-2vw" />
      <div>
        <p>
          In order to play Tune Perfect, you have to select your microphone.
        </p>

        <p>
          You can change a few options like the delay and the gain if the mic
          doesn't feel right.
        </p>
      </div>
    </div>
    <template #footer>
      <MenuKeyHints
        :hints="['back', 'navigate', 'confirm']"
        @back="() => router.back()"
      ></MenuKeyHints>
    </template>
  </Layout>
</template>

<style scoped>
.bg {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

.banner {
  aspect-ratio: 7 / 4;
  background: linear-gradient(180deg, #36d1dc 0%, #5b86e5 100%);
}
</style>
